@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* No scrollbar utility */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

body {
  @apply bg-background text-neutral-900 font-sans antialiased overflow-x-hidden;
}
