@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Design Tokens - Light Mode */
  --bg-color: #E7E7E7;
  --text-main: #141414;
  --glass-panel: rgba(255, 255, 255, 0.6);
  --glass-border: rgba(255, 255, 255, 0.8);
  --accent-color: #FF8D28;
}

[data-theme="dark"] {
  /* Design Tokens - Dark Mode */
  --bg-color: #1A1A1A;
  --text-main: #E7E7E7;
  --glass-panel: rgba(255, 255, 255, 0.08); /* 深色模式下的玻璃背景通常要更透一點 */
  --glass-border: rgba(255, 255, 255, 0.15);
  --accent-color: #FF8D28;
}

body {
  background-color: var(--bg-color);
  color: var(--text-main);
  transition: background-color 0.3s ease, color 0.3s ease;
}
